* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
  
body {
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    background-color: #101010;
    box-sizing: border-box;
    font-size: 14px;
}

.header__navigation {
    display: flex;
    position: absolute;
    width: 100vw;  
    height: 50px;
    justify-content: center;
    background: linear-gradient(to bottom,rgba(0,0,0,.8) 0,rgba(0,0,0,.7) 20%,rgba(0,0,0,.4) 50%,transparent 100%);
    z-index: 100;    
}
.nav__container {
    display: flex;
    position: relative;
    width: 100vw;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}
.nav__logo > img {
    width: 122px;
    height: 27px;
    max-height: 50px;
}
.nav__options-menu {
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 50px;
    justify-content: space-around;
    align-items: center;
}
.nav__menu-items--bottom {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid rgba(255,255,255,.2);
    box-shadow: 0 -5px 15px 0 rgba(0,0,0,.5);
}
.nav__search > i {
    width: 32px;
    font-size: 20px;
}
.film-selection__container > b {
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    color: #e6e6e6;
    padding: 7px;
}

.menu__items {
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    background-color: #000;
    margin: 0px;
}
.martian-tooltip {
    display: flex;
    text-decoration: none;
    color: white;
    position: absolute;
    height: 100%;
    left: 225px;
    z-index: 220;
    background-color: #000;
    border-radius: 25px;
    opacity: 0.95;
}
.tooltip--wrapper {
    display: flex;
    font-size: 14px;
    width: 250px;
    flex-direction: column;
    justify-content: top;
    padding: 35px 0px 0px 0px;
    align-items: center;
    background-color: linear-gradient(to right,#000 3%,rgba(0,0,0,.8) 20%)
}
.tooltip-title {
    font-size: 22px;
}
.tooltip-trailer {
    background-color: grey;
    border: 1px solid silver;
    border-radius: 7px;
    font-size: 15px;
}

.d-block.w-100.ficha-tecnica:hover .martian-tooltip  {
    display: flex;
}

a:hover {
    color: yellow !important;
}

.items__portada--link,
.items__cinema--link,
.items__free--link,
.items__subscription--link,
.items__entrar--link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: inherit;
    font-weight: 900;
    color: gray;
    padding: 4px;
}
.items__portada--link > *,
.items__cinema--link > *,
.items__free--link > *,
.items__subscription--link > *,
.items__entrar--link > *  {
    font-size: 11px;
}

.btn {
    border: none;
}
.carousel-item-next, 
.carousel-item-prev, 
.carousel-item.active {
    display: flex;
}
.d-block{
    position: relative;
    box-sizing: border-box;
    border: 5px solid #171717;
    object-fit: cover;
}
.d-block:hover {
    border: 5px solid yellow;
}
.footer__container--bottom {
    display: block;
    background-color:#0d0d0d;
    text-align: center;  
}
.footer__logo--bottom {
    height: 28px;
    width: 122px;
}
.footer__logo {
    padding-top: 15px;
}
.footer__about {
    display:block;
    padding-top: 15px;
}
.footer__about a{
    text-decoration: none;
    font-family: inherit;
    color: #ccc;
    font-size: 14px;
}
.genre__catalogo {
    background-image: url(images/icons/all-cb781ac8669959b586ff362be895a182d31a7f5865c80b3a2870da8d1d338a09.png);
    display: inline-block;
    padding: 90px 15px 25px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 70px 70px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.genre__accion {
    background-image: url(images/icons/action-1591342700.png);
    display: inline-block;
    padding: 90px 15px 25px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 70px 70px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.genre__animacion {
    background-image: url(images/icons/animation-1591342706.png);
    display: inline-block;
    padding: 90px 15px 25px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 75px 75px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.genre__aventuras {
    background-image: url(images/icons/adventure-1591342698.png);
    display: inline-block;
    padding: 90px 15px 25px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 70px 70px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.genre__belico {
    background-image: url(images/icons/war-1591342712.png);
    display: inline-block;
    padding: 90px 15px 25px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 70px 70px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.genre__sci-fi {
    background-image: url(images/icons/science-fiction-1591342715.png);
    display: inline-block;
    padding: 90px 15px 25px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 70px 70px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.genre__cine-autor {
    background-image: url(images/icons/indie-1591342703.png);
    display: inline-block;
    padding: 90px 15px 25px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 70px 70px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}

.main__image {
    display: flex;
    background-color: blue;
    width: 100vw;
    height: 65vh;
    justify-content: center;
    align-items: center;
    background-image: url(images/snapshot-1590665315-width1920-quality80.jpeg);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.image__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 65vh;
    padding: 50px;
}
.image__trailer--button > a{
    font-size: 18px;
    color: white;
    text-decoration: none;  
}




.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
}
.btn {
    border-radius: 0;
}
.no-hover:hover {
    border: 5px solid black;
}
.only-desktop--show {
    display: none;
}


@media screen and (min-width: 715px) {
    .only-desktop--show {
        display:flex;
    }
    .only-mobile--show {
        display: none;
    }
    .header__navigation {
        position: fixed;
        background: #000;
    }
    .main-menu--left {
        display: flex;
    }
    .dropdown > *{
        font-size: 12px;
        background: #000;
        border: 3px solid #000;
        font-weight: 900;
    }
    .dropdown-menu,
    .dropdown-item {
        color: white;
        font-weight: 900;
        background-color: #000;
    }
    .dropdown-item:active {
        background-color: #000;    
    }
    .btn-secondary:hover {
        border-color: #000;
        background-color: #000;
    }
    .btn-secondary:focus {
        border-color: #000;
        background-color: #000;

    }
    .main-menu--right {
        display: flex;
    }
    .main-menu--right > .btn {
        font-size: 12px;
        background: #000;
        font-weight: 900;       
    }
    .btn-warning {
        color: black;
        background: #f0d500 !important;     
    }
    .menu__cinema,
    .menu__free,
    .menu__subscription,
    .menu__login,
    .menu__register {
        border: 2px solid;
    }
    .menu__search-container {
        display: flex;
    }
    .menu__search-textbar--show {
        outline: none;
        border-radius: 1px;
        text-align: start;
        padding: 10px;
        background-color: #333333;
        font-family: inherit;
        font-size: 16px;
        color: white;
        height: 35px;
    }
    
    .menu__register {
        border: 2px solid yellow;
        /* pdte pintar color */
    }
    .footer__info--show {
        display: block;
        text-align: center;
        background-color: #212121;
    }
    .info__title {
        padding-top: 20px;
        font-size: 22px;
    }
    .info__text {
        font-size: 14px;
        width: 50%;
        margin: 10px auto 10px;
        line-height: 25px;
    }
    .como-funciona--link {
        background-image: url(images/footer-howitworks.svg);
        display: inline-block;
        padding: 90px 15px 25px;
        width: 30%;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 180px 90px;
        text-decoration: none;
    }
    .forma-pago--link {
        background-image: url(images/footer-payment.svg);
        display: inline-block;
        padding: 90px 15px 25px;
        width: 30%;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 180px 90px;
        text-decoration: none;
    }
    .ayuda--link {
        background-image: url(images/footer-support.svg);
        display: inline-block;
        padding: 90px 15px 25px;
        width: 30%;
        vertical-align: top;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 180px 90px;
        text-decoration: none;
    }
    .como-funciona--link > span,
    .forma-pago--link > span,
    .ayuda--link > span{
        font-size: 18px;
        color: #ffffff;
    }
    .como-funciona--link > p,
    .forma-pago--link > p,
    .ayuda--link > p{
        font-size: 13px;
        color: #cccccc;
    }
}
